<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<title>List</title>
		<script data-main="../../../" src="/requirejs/require.js"></script>

		<script type="text/javascript">
			require.config({
				packages: [
					{name: 'dcl'       , location: 'dcl'       } ,
					{name: 'dojo'      , location: 'dojo'      } ,
					{name: 'delite'    , location: 'delite'    } ,
					{name: 'deliteful' , location: 'deliteful' } ,
					{name: 'dojox'     , location: 'dojox'     } ,
					{name: 'doh'       , location: 'util/doh'  } ,
				],
				paths: {
					angular: 'angular/angular',
				},
				shim: {
					'angular' : {'exports' : 'angular'},
				},
				locale: "en-us",
			});
		</script>
		<script>
			require([
					"app.js",
					"dojo/domReady!"
					], function(angular){
					});
		</script>
		<style>
			[aria-selected="true"] {
				color:#ccc;
			}
		</style>
		
	</head>
	<body id="body-id">


		<div ng-controller="MainCtrl">
			<div>
				<label>add a new item </label>
				<input type="text" ng-model="newTitle">
				<button ng-click="add(newTitle)">add</button>
			</div>
			<ng-list id="books" selection-mode="multiple" selected-items="selectedItems"></ng-list> 
			<div>
				<p>
					You've selected <strong> {{selectedItems.length}} item(s) </strong>
					<button ng-click="removeSelected()">remove selected</button>
				</p>
			</div>
		</div>
	</body>
</html>
